@font-face{
  src:url(../fonts/HelveticaNeue.ttf);
  font-family:"Halvetica Neue";
}

body {

  font-family: 'Helvetica Neue', Helvetica;
  
  
    
    
    .second-navbar{
      background-color: #C7D9B6;
      padding-top:20px;
      padding-bottom: 20px;
      
    }
    .second-navbar .row ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      max-width: 800;
      margin-right: auto;
      margin-left: auto;
      li{
        float:left;
      }
      li a{
        display: block;
        color: #000000;
        text-align: center;
        margin-right: 48px;
        text-decoration: none;
        font-family: Helvetica;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
      }
    }
}



  .homebanner {
    background-image: url(/images/morena.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
  }


  .first-cards{
    margin-top:100px;
    .row {
      display: flex;
      align-content: center;
      justify-content: center;
      .column{
        padding-bottom: 90px;
      }
      img{
        width: 90%;
      }
      p:nth-of-type(1){
        font-size:18px;
        font-weight: bold;
        font-family: Helvetica;
        line-height: 18px;
        padding-top:20px;
        margin-bottom: 10px;
      }
      p:nth-of-type(2){
        font-family: "Helvetica";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }
      p{
      text-align:center;
      }


    }
  }

  .staff-text{
    display:flex;
    justify-content: center;
    margin-top:80px;
    margin-bottom: 24x;
    h3{
      font-family: Helvetica;
      font-weight: bold;

    }
  }

  .staff 
  .row{
      display: flex;
      align-content: center;
      justify-content: center;
      margin-bottom: 60px;     
      margin-top: 8px;
      .column{
        min-width: 20%;
  
      }
      p{
        text-align: center;
        font-family: "Helvatica Neue";
        font-weight: bold;
        margin-bottom: 0px;
        margin-top:12px;
      }
  }



  /* 
  .button {
    background-color: #ffffff;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    max-width: 300px;
    
  }
   */

  .home{
      display:flex;
      justify-content: center;
      margin-top:90px;
      margin-bottom: 28px;
    h3{
      font-family: Helvetica;
      font-weight: bold;
      margin: 0px;
    }
  }


  .home-cards{
    #coloana2{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    } 
  }

  .instagram{
      display:flex;
      justify-content: center;
      margin-top:12px;
      margin-bottom: 180px;
    p{
      font-family: "Helvetica Neue";
      font-weight: bold;

    }
    a{
      padding-right:10px;
    }
  }


  .staff-text{
    display:flex;
    justify-content: center;
    margin-top:96px;
    margin-bottom: 24x;
    h3{
      font-family: Helvetica;
      font-weight: bold;

    }
  }

  .staff 
  .row{
      display: flex;
      align-content: center;
      justify-content: space-between;
      margin-bottom: 90px;
      
      img{
        margin-right: 16px;
      }
      p{
        text-align: center;
        font-family: "Helvatica Neue";
        font-weight: bold;
        margin-bottom: 0px;
        margin-top:12px;
      }
    } 

  .last-cards
  .row .column{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    h4{
      text-align: center;
      font-family: "Helvatica";
      font-weight: bold;
      margin-bottom: 24px;
    }
  
  }
  



  
  @media screen and (max-width: 39.9375em) {
    .topbar-center-logo .top-bar-center {
      display: none;
    }
  }