footer{
  #footer-gradient{
    height: 96px;;
    background:linear-gradient(180deg, rgba(199, 217, 182, 0.02) 0%, rgba(199, 217, 182, 0.87) 66.67%, #C7D9B6 100%)
  }
    
      .custom-container{
        background: #C7D9B6;
    
        .row .left-column{
          h3{
            color: black;
            font-family: Helvetica;
            font-style: normal;
            font-weight: bold;
            line-height: 24px;
            font-size: 24px;
            i{
              font-weight: 500;
            }
          }
          p:nth-of-type(1){
            font-family: Helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
          }
          #emailborder{
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 8px;
            padding-left:13px;
            padding-top:17px;
            padding-bottom: 17px;;
    
          }
          .footer-input{
            display: flex;
            border: 1px solid #000000;
            border-radius: 8px;
            width: 400px;
            input{
              outline:0;
              border: 0;
              background: transparent;
              padding: 12px 30px 12px 20px;
              width: 400px;
              }
            ::placeholder{
              color: #000000;
              font-family: 'Roboto', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 19px;
            }
            a{
              display: flex;
              align-items: center;
              justify-content: flex-end;
              padding: 7px;
              margin-right: 15px;
            }
          }
          
        }
        .row .column.medium-2{
          display: flex;
          justify-content: flex-end;
        
         ul{
          list-style-type: none;
          margin: 0;
          padding: 0;
          
    
    
          li{
            margin-bottom: 33px;
          }
          li a{
            color: black;
            font-family: Helvetica;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            
             }
          }
        }
        hr {
          border: 1px solid rgba(0, 0, 0, 0.08);
          min-width: 99.9%;
        }

        .last-footer{
          .social{
            display: flex;
            justify-content: center;
            ul{
              display: flex;
              list-style-type: none;
                li{
                  margin-right: 20px;
                }
            }
          }
          .last-text{
            display: flex;
            justify-content: center;
            ul{
              display: flex;
              list-style-type:none;
              li{
                margin-right:10px;
                text-decoration: underline;
                a{
                  color: #000000;
                  font-family: Roboto;
                }
              }
            }
          }
        }
      }
  }