header{
  padding-top:15px;
  .navbar {
    .row{
      .left-menu{
        display: flex;
        justify-content: flex-start;
        ul{
        display: flex;
        list-style-type: none;
        align-items: center;
        li .icon.search{
          display: flex;
        }
        li{
          margin-right: 17px;
        }
        
        }
      }
      .middle-menu{
        display:flex;
        justify-content: center;
      }
      .right-menu{
        display: flex;
        justify-content: flex-end;
        align-items:center;
        .top-input{
          display: flex;
          margin-right: 30px;
          border-bottom: 1px solid #000000;
          input{
            border: 0;
            outline: 0;
            background: transparent;
            padding-bottom:5px;
            }
          }
        ul{
        display: flex;
        list-style-type: none;
        align-items: center;
          li{
            margin-right: 17px;
          }
        }
      
      }
      
    }
  }


  .second-navbar {
    background-color: #C7D9B6;
    padding-top:20px;
    padding-bottom: 20px;
    .row ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      max-width: 800;
      margin-right: auto;
      margin-left: auto;
      li{
        float:left;
      }
      li a{
        display: block;
        color: #000000;
        text-align: center;
        margin-right: 48px;
        text-decoration: none;
        font-family: Helvetica;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
    
}